# Ignore distribution folders
dist/
build/
*.egg-info/

# Ignore virtual environment folder
venv/

# Ignore manim media folder
media/

# Ignore demo for now
demo/

# Ignore manim slides
slides/
.manim-slides.toml

# Ignore pycaches
**/__pycache__/
.pytest_cache/

# Ignore files marked as old
/src/actions_old.py