[tool.poetry]
name = "manim-smart-algebra"
version = "0.3.3"
description = "Manim plugin which simplifies the process of animating algebra"
authors = ["John Connell <johnconnelltutor@gmail.com>"]
license = "MIT"
repository = "https://github.com/TheMathematicFanatic/manim_smart_algebra"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.9"
manim = ">=0.17"
MF-Tools = ">=1.1.2"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
testpaths = ["tests"]
filterwarnings = [
    "ignore::DeprecationWarning"
]
